$gray-900: #1e212c;
$gray-800: #424551;
$gray-700: #787a80;
$gray-600: #9a9ca5;
$gray-400: #d7dadd;
$white: #fff;
$info: #5a87fc;
$purple: #7772f1;
$warning: #f89828;
$success: #03cea4;
$danger: #ff4242;
$danger-light: #f52f6e;
