@mixin lato-900 {
  font-family: 'Lato';
  font-weight: 900;
}

@mixin lato-700 {
  font-family: 'Lato';
  font-weight: 700;
}

@mixin lato-400 {
  font-family: 'Lato';
  font-weight: 400;
}
